@*@model IEnumerable<StoreFront2.DATA.EF.Products>*@
@model  PagedList.IPagedList<StoreFront2.DATA.EF.Products>
@using PagedList.Mvc;

@{
    /**/

    ViewBag.Title = "Products";
}

@using (Html.BeginForm())
{
    <p>
        Search Products: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<h2>@ViewBag.Title</h2>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row products">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <a href="@Url.Action("CustomerDetails", new { id = item.ProductID })">
                                                @if (item.ImgURL != null)
                                                {
                                                    <img src="~/Content/img/@item.ImgURL" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/img/NoImageAva.PNG" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                                }
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a href="@Url.Action("CustomerDetails", new { id = item.ProductID })">
                                                @if (item.ImgURL != null)
                                                {
                                                    <img src="~/Content/img/@item.ImgURL" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                                }
                                                else
                                                {
                                                    <img src="~/Content/img/NoImageAva.PNG" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                                }
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a href="@Url.Action("CustomerDetails", new { id = item.ProductID })">
                                    @if (item.ImgURL != null)
                                    {
                                        <img src="~/Content/img/@item.ImgURL" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                    }
                                    else
                                    {
                                        <img src="~/Content/img/NoImageAva.PNG" style="width: 100%; height: 15em; object-fit: contain" alt="" class="img-fluid">
                                    }
                                </a>
                                <div class="text">
                                    <h3><a href="@Url.Action("CustomerDetails", new { id = item.ProductID })">@item.ProdName.ToString()</a></h3>
                                    <p class="price">
                                        <del></del>$@Html.DisplayFor(modelItem => item.UnitPrice)
                                    </p>

                                    <!--Add to cart-->

                                    <div class="buttons">
                                        @*<a href="@Url.Action("CustomerDetails", new { id = item.ProductID })" class="btn btn-outline-secondary">View detail</a>*@
                                        @using (Html.BeginForm("AddToCart", "Products", new { productID = item.ProductID }, FormMethod.Post))
                                        {
                                            @Html.HiddenFor(x => item.ProductID)

                                            @Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width:75px;display:inline;" })
                                            <input type="submit" value="Add to Cart" class="btn btn-primary" />
                                        }
                                    </div>

                                    @*<p class="buttons"><a href="@Url.Action("CustomerDetails", new { id = item.ProductID })" class="btn btn-outline-secondary">View detail</a><a href="basket.html" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a></p>*@
                                </div>
                                <!-- /.text-->
                            </div>
                            <!-- /.product            -->
                        </div>
                    }                    
                    <!-- /.products-->
                </div>

                <div class="pages">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("CustomerView", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>                
            </div>
        </div>
    </div>
</div>

@*<div class="col-lg-3">
        @{int number = 0; }
        <div class="card sidebar-menu mb-4">
            <div class="card-header">
                <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>
            <div class="card-body">
                <form>

                    <div class="form-group">

                        <div class="checkbox">
                            <div class="form-group">
                                @foreach (var vendor in Model)
                                {
                                    if (vendor.Vendor != null)
                                    {
                                        <div class="checkbox">
                                            <label>
                                                @Html.ActionLink(vendor.Vendor.VenName, "CustomerView", new { sortOrder = ViewBag.NameSortParm })
                                                (@{ number = 0; }@foreach (var item in Model)
                                                {
                                                    if (item.Vendor.VenName == vendor.Vendor.VenName)
                                                    {
                                                        number += 1;
                                                    }
                                                }@number)
                                            </label>
                                        </div>
                                    }

                                }
                            </div>
                        </div>
                        <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@